* {
    margin: 0;
    padding: 0;
}

body {
    background: #DE923E;
}

.container {
    display: flex;
    justify-content: center;
    
}

.login {
    width: 450px;
    height: 350px;
    border: 1px solid red;
    margin: 80px auto;
    border-radius: 5px;
    background: #0b841c;
    box-shadow: 2px 2px 2px black;
    color: white;
}

.imagem-botao {
    width: 425px;
    height: 250px;
}