body{
    background: #DE923E;
}

.container {
    width: 300px;
    height: 225px;
    border: 1px solid red;
    background: #0b841c;
    box-shadow: 2px 2px 2px black;
    color: white;
    margin: 100px auto;
    text-align: center;
}

.form-control {
    margin: 25px;
}

input {
    border-radius: 5px;
}

button {
    margin-bottom: 20px;
    background: rgb(5, 1, 54);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: 0;
    cursor: pointer;
}